body {
    font-family: 'Poppins', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    font-weight: 500;
    text-align: justify;

}

.orange-color {
    color: orange;
}

.part-1 {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.btn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
}

.part-2 {
    display: flex;

}

.half-width-2 {
    width: 50%;
    padding-right: 5%;
}

.half-width-2 img {
    width: 80%;
    padding-left: 10%;
}

.new-half-width {
    padding-left: 10%;
}

.btn2 {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
}

.part-2 {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;


}

.new-container {
    box-shadow: 10px 20px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    padding-right: 30px;

}

.new-container h2 {
    color: orange;

}

.last-part {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#box-arranged {
    border-left: 7px solid tomato;
}

#box-arranged-2 {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;

}

section {
    margin-bottom: 100px;
}